@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f7f4ef;
  --foreground: #18181b;
  --chai-brown: #c49a6c;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-chaiBrown: var(--chai-brown);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --font-pacifico: var(--font-pacifico);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), system-ui, sans-serif;
}
